.login-form-container{
    width: 35rem;
    padding: 4%;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem
}

.standard-submit-btn{
    margin-top: 2rem;
    width: 100%
}

.form-title{
    margin-bottom: 2rem
}
