extends ../layout
block head
	link(rel='stylesheet', href='/stylesheets/standard-forms.css')
block content
	.container.login-form-container
		h2.mb-5 Login
		form(action='/users/edit', method='POST')
			.form-group.mb
				input#username.form-control(name='username', type='text', aria-describedby='emailHelp', placeholder='Enter email')
			.form-group
				input#password.form-control(name='password' type='password', placeholder='Password')
			button.btn.btn-dark.standard-submit-btn(type='submit') Submit